*{margin:0;padding:0;border:0;outline:0;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent}li,ul{list-style:none}html,body{font-family:PingFangSC-Semibold;font-size:1rem;color:#222222;-webkit-text-size-adjust:none;font-size:100%;width:100%;min-width:320px;margin:0 auto;font-family:Helvetica;line-height:1.4;background:#fff;-webkit-overflow-scrolling:touch;position:relative;z-index:0}.score__wrap{display:block;width:100%}.score__banner{background:#B25FAF url('../img/maozi.png') no-repeat 87% 77%;background-size:12rem auto;padding:3.56rem 2.3rem 2.2rem}.score__banner h5{font-family:PingFangSC-Semibold;font-size:1.5rem;font-weight:normal;color:#FFFFFF;margin-bottom:2.125rem}.score__text span{font-family:PingFangSC-Regular;font-size:0.875rem;color:#EBBFEA;display:block}.score__text p{font-family:PingFangSC-Medium;font-size:2.25rem;color:#FFFFFF}.score__text:first-of-type{margin-bottom:1.3rem}.score__content{padding:1.5625rem 1.525rem}.score__content dl{border-bottom:1px dashed #EDEDED;padding:1.25rem 0 1.4625rem}.score__content dl dt h5{font-family:PingFangSC-Semibold;font-size:1rem;color:#222222;font-weight:normal;line-height:1;position:relative;padding:0 1.3rem;margin-bottom:1rem}.score__content dl dt h5:before{content:"";position:absolute;left:0.4875rem;top:0;bottom:0;margin:auto 0;width:4px;height:14px;background:#B25FAF;border-radius:1px}.score__content dl dd{display:flex;justify-content:space-between;padding:0 1.3rem}.score__content dl dd p{font-family:PingFangSC-Regular;font-size:1rem;color:#8A8A8A}.score__content dl dd p span{font-family:PingFangSC-Semibold;font-size:1rem;color:#760F72;margin-left:0.6875rem}@media only screen and (min-width:319px) and (max-width:339px){html,body{font-size:80%}}@media only screen and (min-width:340px) and (max-width:360px){html,body{font-size:90%}}@media only screen and (min-width:361px) and (max-width:383px){html,body{font-size:95%}}@media only screen and (min-width:384px) and (max-width:414px){html,body{font-size:100%}}@media only screen and (min-width:415px){html,body{font-size:105%}}
[v-cloak] {
    display: none;
  }
  body{
      background: #fff;
  }
  .header{
      height:0.38rem;
      padding: 0 0.17rem;
      background: #630661;
      border-bottom: 1px solid #782876;
  }
  .header>span{
      height: 100%;
      line-height: 0.38rem;
      color: #fff;
      font-size: 0.12rem;
  }
  .header div{
    line-height: 0.38rem;
    color: #fff;
    font-size: 0.12rem;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  input.status{
        display: block !important;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        height: 25px;
        margin-top: -12px;
        width: 100%;
        background: none !important;
  }
  label{
      margin-left: 0.1rem;
  }
  .switchery {
    height: 25px;
    width: 40px;
}
.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    position: relative;
    vertical-align: middle;
    width: 35px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}
  .top{
      height:1.5rem;
      width: 100%;
      background: url(../img/bg.png) no-repeat;
      background-size:cover;
      position: relative;
  }
  .top>div.btn-wrap{
      position: absolute;
      top:0.28rem;
      right: 0.17rem;
      color: #fff;
      font-size: 0.12rem;
      align-items: center;
display: flex;
justify-content: center;
padding: 0;
  }
  .top>p{
      height: 0.7rem;
      line-height: 0.8rem;
      font-size: 0.17rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
  }
  .top>div{
      box-sizing: border-box;
      padding: 0 0.4rem;
      display: flex;
  }
  .top>div>div{
      flex: 1;
      color: #fff;
  }
  .top>div>div p{
        font-size: 0.18rem;
        text-align: center;
  }
  .top>div>div span{
        font-size: 0.12rem;
        text-align: center;
        color: #D2A6D1;
        display: block;
  }
  .tab{
      display: flex;
      height: 0.42rem;
      -webkit-box-shadow:0 0 5px rgba(23,23,23, 0.5);  
    -moz-box-shadow:0 0 5px rgba(23,23,23, 0.5);  
    box-shadow:0 0 5px rgba(23,23,23, 0.5);
    margin-bottom: 0.02rem;
    overflow: hidden;
    position: relative;
    /* top: 1.5rem; */
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .wrap{
    /* margin-top: 0.42rem; */
}
  .tab>div{
      flex: 1;
      text-align: center;
      line-height: 0.42rem;
      color: #838383;
      font-size: 0.15rem;
      position: relative;
      
  }
  .tab>div:nth-child(2){
      flex: initial;
      width: 1px;
      background:#E6E6E6;
      height: 100%;
  }
  .tab>div.active{
      flex: 1;
      text-align: center;
      line-height: 0.42rem;
      color:#630661 ;
  }
  .tab>div span{
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height:0.04rem;
      background: #630661;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translate3d(0,150%,0);
      transform: translate3d(0,150%,0);
  }
  .tab>div.active span{
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  } 
  
  .search{
      margin: 0.15rem;
      /* padding-top: 0.15rem; */
      position: relative;
  }
  .search>input{
      display: block;
      width: 100%;
      height: 0.33rem;
      line-height: 0.33rem;
      padding-left: 0.43rem;
      box-sizing: border-box;
      color: #333;
      font-size: 0.12rem;
      background:#f2f2f2;
      border-radius: 0.05rem;
  }
  .search>i{
      position: absolute;
      display:block;
      width: 0.17rem;
      height: 0.17rem;
      top:25%;
      left: 0.18rem;
      /*margin-top: -0.085rem;*/
      z-index: 10;
      background: url(../img/search.png) no-repeat;
      background-size:cover ;
      
  }
  /* .click{
      align-items: center;
      display: flex;
      justify-content: center;
  } */
  .click{
      position: relative;
      border-bottom: 1px solid #dedede;
      box-sizing: border-box;
    padding: 0 0.08rem;
    margin: 0 0.05rem;
    padding-bottom: 0.1rem;
  }
  .click em{
    color: #323232;
    font-size: 0.14rem;
    
    
  }
  .click select{
      margin-right: 0.15rem;
      color: #ADADAD;
      font-size: 0.13rem;
      direction: rtl;
      background: #fff;
  }
  .click i{
    position: absolute;
    right: 0.03rem;
    top:0.05rem;
    width: 0.07rem;
    height: 0.11rem;
    background: url(../img/nex.png) no-repeat;
    background-size:cover; 
  }
  /* .click>i{
      display: inline-block;
      width: 0.15rem;
      height: 0.15rem;
      background: url(../img/pre.png) no-repeat;
      background-size:cover ;
      margin:0 0.1rem;
  }
  .click>span{
      color: #333;
      font-size: 0.16rem;
  } */
  /* .click>i:nth-child(3){
      background: url(../img/next.png) no-repeat;
      background-size:cover ;
  } */
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #838383; }
  
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #838383; }
  
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #838383; }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #838383; }
    .content.cont ul {
        overflow-y: auto;
        -webkit-overflow-scrolling : touch; 
    }
  .content ul li{
      margin: 0 0.08rem;
      border-bottom: 1px solid #eee;
      padding: 0.15rem 0.11rem 0.15rem 0.05rem;
      box-sizing: border-box;
      
  }
  .content ul li h3{
      color: #630661;
      font-size: 0.12rem;
  }
  .content ul li h3 span{
      margin-left: 0.15rem;
  }
  /*.content ul li>div{*/
      /*align-items: center;*/
      /*display: flex;*/
  /*}*/
  .content ul li>div .fl{
      width: calc(100% - 0.4rem);
      box-sizing: border-box;
      padding-right: 0.1rem;
  }
    .content ul li>div .fl div span {
        margin-right: 0.3rem;
    }
  .content ul li>div .fl p{
      color: #333;
      font-size:0.14rem;
  }
  .content ul li>div .fl div{
      color:#878787 ;
      font-size: 0.12rem;
      margin-top: 0.05rem;
  }
  .content ul li>div .fr{
      width:0.4rem;
      height: 100%;
  }
  .content ul li>div .fr p{
      height: 0.4rem;
      width: 0.4rem;
      background: #D2A6D1;
      color:#630661 ;
      border-radius: 50%;
      text-align: center;
      line-height: 0.4rem;
      font-size: 0.15rem;
      font-weight: bold;
  }
  .content ul li>div .fr p.active{
      color: #E32323;
  }
  .pop{
          position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
          background: rgba(51,51,51,0.6);
  }
  .pop>div {
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 3.2rem;
      padding-bottom: 0.2rem;
      overflow: auto;
  }
  .pop>div .tops{
      height: 0.2rem;
      position: relative;
  }
  .pop>div .tops i {
      background: url(../img/close.png) no-repeat;
      display: inline-block;
      width: 0.1rem;
      height: 0.1rem;
      background-size: contain;
      position: absolute;
      right: 0.14rem;
      top: 0.1rem;
  }
  .pop .content ul{
     /* overflow-y: initial; */
  }
 .content ul li{
      border-bottom: none;
  }
  #cake{
    box-sizing: border-box;
    padding: 0 0.13rem;
    height: 3rem; 
  }
  .tishi{
      box-sizing: border-box;
      padding: 0 0.23rem;
      color: #878787;
      font-size: 0.12rem;
  }
  .tishi>span{
      display: flex;
      line-height: 0.2rem;
  }
  .tishi>span em:nth-child(1){
      width: 0.2rem;
  }
  .tishi>span em:nth-child(2){
    flex: 1;
}
  .tishi>span i{
      color: #630761;
      margin: 0 0.07rem;
  }
  .cava-top{
      height: 0.5rem;
      text-align: center;
      line-height: 0;
      border-bottom: 1px solid #F2F2F2;
      position: relative;
  }
  .cava-top img{
      position: absolute;
      width: 0.07rem;
    position: absolute;
    top: 0.27rem;
    right: 1.3rem;
  } 
  .cava-top select{
      border: 1px solid #F2F2F2;
     color: #9F489C;
     height: 0.25rem;
     font-size: 0.12rem;
     text-align: center;
     display: inline-block;
     padding: 0 0.2rem;
     background: #fff;
  }
  .cava-top select option{
        text-align:center;  
    }